.fieldset {
    border: none;
    display: flex;
}

.fieldset input:not([type="range"]), .fieldset select {
    margin-right: 2px;
    border: 1px solid var(--primary-dark-color);
}

/* .range {
    width: 550px;
} */
