.pagination {
    margin: 10px auto;
}

.pagination li {
    display: inline-block;
    margin-right: 2px;
    padding: 5px;
    border: 1px solid var(--secondary-dark-color);
    cursor: pointer
}

.pagination li:hover,
.pagination li.active {
    background-color: var(--secondary-light-color);
}
