
* {
    color: var(--primary-dark-color, black);
    background-color: var(--primary-light-color, white);
}

body {
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}

section, nav {
    margin-bottom: 10px
}

sup {
    background-color: inherit;
}
