:root {
    /* Set the deafult values */
    --overall-text-color: black;
    --overall-background-color: white;
}

* {
    color: var(--overall-text-color);
    background-color: var(--overall-bg-color);
}

body {
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}

section, nav {
    margin-bottom: 10px
}
